body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
*.middle-container {
  margin: 100px 0;
}

*.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a {
  color: #11777a;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6F6;
}

.link {
  color: #40514E;
  width: 30%;
  height: 2;
  margin: auto;
  font-family: 'Merriweather', serif;
}
link:hover {
  color: #40514e;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75res;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.bottom-cloud {
  position: absolute;
  left: 125px;
  bottom: 345px;
  width: 280px;
  height: 280px;
}

.top-cloud {
  position: absolute;
  right: 180px;
  top: 40px;
  width: 280px;
  height: 280px;
}

.intro {
  width: 30%;
  margin: auto;
}

.html-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.css-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.python-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.c-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.cpp-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cad-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.gif{
  width: 180px;
  height: 120px;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
	*.btn:hover {
	background:linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
	background-color:#11999e;
}
 *.btn:active {
	position:relative;
	top:1px;
}
 }
